* {
    font-family: Helvetica, sans-serif;
}
body{
    padding: auto;
    margin: auto;
    width:100rem;
}
#pantalla-divida1{
    display: flex;
    /* background-color: rgb(0, 0, 0); */
    background: linear-gradient(to left,white 10% , rgba(107, 195, 246, 0.287) 53.3% , white 5%);
}
#pantalla-divida2{
    display: flex;
    background-color: #9e7474;
}
#pantalla-divida3{
    display: flex;
    background-color: #000000;
}
section{
    width: 90rem;
}

#pantalla-dividida4{
    display: flex;
    background-color: rgba(0, 0, 0, 0);
}
#pantalla-dividida5{
    display: flex;
    background-color: rgba(0, 0, 0, 0);
}
#pie{
    display: flex;
    background-color: #9abbda86;
}

.title1{
    width: 20rem;
    height: 5rem;
    padding-top: 1rem;
    padding-left: 50px;
    background-color: rgb(255, 255, 255);
    text-align: bottom;
    color: rgb(0, 27, 182);
    font-size: 30px;
}
.title2{
    width:70rem;
    height: 5rem;
    padding-left: 0px;
    padding-top: 1rem;
    /* background-color: rgb(255, 0, 0); */
    text-align: center ;
    justify-content: space-between;
    font-size: 40px;
}
.bggrey{
    height: 10px;
    width: 10px;
    background-color: rgba(89, 160, 253, 0.198);
}


.title3{
    width: 42rem;
    height:50rem;
    background-color: rgb(255, 255, 255);
    text-align: left;
    color: rgb(3, 17, 97);
    z-index: 1;
}
.title4{
    
    width: 48rem;
    height: 50rem;
    background: linear-gradient(to left,rgb(25, 25, 226), rgb(112, 167, 218));}
.imgGrand{
    width: auto;
    height: auto;
    z-index: 2;
}

.title4 img{
    width: 48rem;
    height: 50rem;
}
.Navegation{
    color: rgb(236, 11, 11); 
}


.title3 p{
    text-align: top;
    margin: 0;
    display: inline-block;
    color: #17024e;
    font-size: 23px;
    padding-left: 0.5rem;
}
button{
    background-color: rgb(0, 0, 255);
    block-size: 50px;
    font-size: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.239), 0 6px 20px 0 rgba(0, 0, 0, 0.267);
    border-radius: 15px;
}

.title1 h1{
    padding-left: 4rem;
    margin: 0;
}

.title2 ol {
    margin: 0;
}
.title2 a{
    text-decoration-line: none;
    color:rgb(90, 90, 90)
}
.bgblue{

    background-color:rgb(0, 0, 255);
    
    color: white;
}

.title3 h4{
    padding-left: 7rem;
    padding-top: 50px;
    font-size: 50px;
    margin: 0;
}
.clock{
    margin-top: 7rem;
    width: 40rem;
    background-image: url("./clock1.png");
    background-repeat: no-repeat;
    background-size: 20px, 20px;
    background-position: 7rem;
    background-color: #ffffff;
}
.title3 h3{
    text-align: left;
    margin: 0;
    padding-left: 9rem;
    padding-top: 0rem;
}
.container-schedule{
    width: 50rem;
    height: 7rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-left: 7rem;
    background-color: #ffffff;
    box-shadow:inset 0 -3em 3em rgba(138, 134, 134, 0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(59, 58, 58, 0.3);
    text-align: left;
    z-index: 1;
}

.container-schedule ul{
    display: flex;
    width: 50rem;
    margin: 0;
    padding: 0;
}
.container-schedule h1{
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    margin-left: 3rem;
    padding-left: 4rem;
    font-size: medium;
} 
.container-schedule h2{
    margin: 0;
    padding: 0;
    margin-left: 3rem;
    padding-left: 4rem;
    font-size: large;
    z-index: 1;
}
.container-schedule .h2s{
    padding: 0;
    margin: 0;
    margin-left: 4rem;
}

.container-schedule button{
    width: 10rem;
    margin: 2rem;
    padding: 0;
    background-color: #7488e091;
    border-radius: 8px;
    color: rgba(7, 7, 104, 0.746);
    font-size: larger;
    margin: 0;
    margin-left: 4rem;
    margin-top: 1rem;
}
.title3 h5{
    margin: 0;
    padding-top: 4rem;
    padding-left: 7rem;
    text-align: justify;
    font-size: 25px;
    color: rgb(87, 85, 85);
}
article{
    margin-left: 7rem;
    display: inline;
}

.img1{
    padding-left: 7rem;
    padding-top: 5rem;
    width: 20px;
    height: 20px;
}
.img2{
    padding-left:3rem;
    padding-top: 5rem;
    width: 20px;
    height: 20px;
}
.imgb{
    padding-left: 7rem;
    width: 75rem;
}

#p3 h2{
    text-align: left;
    padding-left: 7rem;
    font-size: 40px;
}
#p3 h3{
    text-align: left;
    padding-left: 7rem;
    font-size: 25px;
    color: rgb(87, 85, 85);
}
.title5 ol{
    justify-content: 2rem;
}

.title5{
    display: flex;
    width: 90rem;
    height:20rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(3, 17, 97);
}

.container{
    width: 15rem;
    height: 17rem;
    border-radius: 1rem;
    margin-left: 5rem;
    background-color: #ffffff;
    box-shadow:inset 0 -3em 3em rgba(138, 134, 134, 0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(59, 58, 58, 0.3);
    text-align: left;
}
.container h1{
    margin: 0;
    margin-left: 1rem;
    margin-top: 1rem;
    text-align: left;
}

.container h3{
    margin: 0;
    margin-left: 1rem;
    margin-top: 1rem;
    text-align: left;
    font-size: 15px;
    color: rgb(87, 85, 85);
}

.container img{
    margin-top: 1rem;
    margin-left: 1rem;
    box-shadow:inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    width: 2rem;
    height: 2rem;
}


.title6{
    width: 42rem;
    height: 60rem;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top,rgb(25, 25, 226), rgb(255, 255, 255) 50%);  
}
.title6 img{
    margin-top: 15rem;
    width: 45rem;
    height: 45rem;
}
.title7{
    align-items: center;
    width: 48rem;
    height: 60rem;
    margin: 0;
    padding: 0;
}

.title7 h1{
    color: rgb(3, 17, 97);
    text-align: left;
    padding-left: 0rem;
    font-size: 40px;
}
.title7 h3{
    text-align: left;
    padding-left: 0rem;
    font-size: 25px;
    color: rgb(87, 85, 85);
}

.title7 ol{
    padding-left: 0rem;
    color: rgb(20, 31, 92);
}

.title7 .container-text{
    width: 30rem;
    margin: 0;
    margin-left:5rem;
    padding-top: 1rem;
    margin-top: 2rem;
    box-shadow:inset 0 -3em 3em rgba(129, 127, 127, 0.1),
    0 0  0 1px rgb(236, 236, 236),
    0.3em 0.3em 1em rgba(14, 13, 13, 0.767);
    height: 3rem;
    background-image: url(./arrow_down_small.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 1.5rem
}


.title7 .container-text-s{
    width: 30rem;
    margin: 0;
    margin-left: 5rem;
    padding-top: 1rem;
    margin-top: 2rem;
    box-shadow:inset 0 -3em 3em rgba(129, 127, 127, 0.1),
    0 0  0 1px rgb(236, 236, 236),
    0.3em 0.3em 1em rgba(14, 13, 13, 0.767);
    height: 10rem;
    background-image: url(./arrow_up_small.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 1.5rem
  
}
.title7 .container-text-s h2{
    padding-left: 5rem;
}
.title7 .container-text-s h4{
    padding-left: 5rem;
    color: rgb(87, 85, 85);
  
}

.title7 .container-text h2, h4{
    padding-left: 5rem;
    margin: 0;
}
.title8{
    width: 42rem;
    height: 60rem;
    margin: 0;
    padding: 0;
}
.title9{
    align-items: center;
    width: 48rem;
    height: 60rem;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top,rgb(25, 25, 226), rgb(255, 255, 255) 50%);  
}
.title9 img{
    margin-top: 15rem;
    width: 45rem;
    height: 45rem;
}
.title8 h1{
    color: rgb(3, 17, 97);
    text-align: left;
    padding-left: 5rem;
    font-size: 50px;
}
.title8 h3{
    text-align: left;
    padding-left: 5rem;
    font-size: 20px;
    color: rgb(87, 85, 85);
}

.title8 .container1{
    display: flex;
}
.title8 .container-text{
    width: 13rem;
    height: 12rem;
    border-radius: 1rem;
    margin-left: 5rem;
    margin-top: 5rem;
    padding-left: 0 ;
    background-color: #ffffff;
    box-shadow:inset 0 -3em 3em rgba(138, 134, 134, 0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(59, 58, 58, 0.3);
    text-align: left;
    /* background-image: url(./arrow_down_small.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 1.5rem */
}
.title8 .container-text h1{
    padding: 0;
    padding-top: 2rem;
    margin: 0;
    font-size: 20px;
    text-align: center;
} 
.title8 .container-text h3{
    padding: 0;
    padding-top: 0.5rem;
    margin: 0;
    margin-left: 3.5rem;
    font-size: 15px;
    text-align: center;
}

.title8 button{
    width: 10rem;
    margin: 2rem;
    padding: 0;
    background-color: #7488e091;
    border-radius: 8px;
    color: rgba(7, 7, 104, 0.746);
    font-size: larger;
}

.title8 .chat{
    background-color: #1e46b6e3;
    color: white;
}

.vac{
    align-items: center;
    width: 40rem;
    height: 17rem;
    margin: 0;
    padding: 0;
}

.vac h1{
    color: rgb(3, 17, 97);
    text-align: left;
    padding-left: 5rem;
    padding-top: 2rem;
    font-size: xx-large;
}
.vac h3{
    color: rgb(90, 90, 90);
    text-align: left;
    padding-left: 5rem;
    padding-top: 0;
    font-size: large;
}
.vac p{
    color: rgb(90, 90, 90);
    text-align: left;
    padding-left: 5rem;
    padding-top: 2rem;
    font-size: medium;
}

footer{
    display: flex;
}

.final{
    margin-right: 3rem;
}
footer h1{
    color: rgb(3, 17, 97);
    text-align: left;
    margin: 0;
    padding-top: 2rem;
    font-size: large;
}
footer ul{
    margin: 0;
    padding: 0;
    
    padding-top: 1rem;
    padding-left: 1rem;
}
footer a{
    color: rgb(90, 90, 90);
    text-align: left;
    padding-left: 0;
    padding-top: 2rem;
    font-size: medium;
}

footer .terms{
    display: block;
    text-align: bottom;
    margin-top: 2rem;
}

footer .terms a{
    margin-left: 1rem;
}